html, body {
    height: 100%;
}

body {
    background: #f0f0f0 url('../img/bg-symbols.png');
}

.wrapper {
    position: relative;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.logo {
    padding: 0 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
}

.logo h1 {
    font-size: 4vw;
    background-color: #909090;
    color: transparent;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-align: right;
    margin-top: 5px;
}